.cb-container {
  font-family: 'Segoe UI';
}

.cb-container p,
.cb-container ul {
  margin: 0px;
}

.cb-title {
  color: #333333;
  font-size: 14px;
  font-weight: bold;
}

.cb-subtitle {
  color: #737373;
  font-size: 12px;
  font-weight: bold;
}

.cb-toolbar {
  color: #737373;
}

.cb-tooltip {
  max-width: 300px;
  padding: 5px 8px !important;
}

.cb-footer div:not(:empty) {
  padding: 5px 10px;
  font-family: sans-serif;
  font-size: 13px;
  line-height: normal;
}
.cb-footer p {
  margin-top: 0px;
  margin-bottom: 5px;
}
.cb-footer p:last-of-type {
  margin-bottom: 0px;
}

@keyframes cb-rotate {
  to {
    transform: rotate(360deg);
  }
}

.cb-spinner-animation {
  animation: cb-rotate 600ms infinite linear;
}
