@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@400;500&family=Noto+Sans:wght@400;600;800&display=swap');

.cb-container {
  padding: 22px 24px;
  font-family: 'Noto Sans Display', Helvetica, sans-serif;
  color: #101d40;
  background-color: #fff;
}
.cb-container.cb-small {
  padding: 16px 18px;
}

.cb-container p,
.cb-container ul {
  margin: 0px;
}

.cb-title {
  font-family: Helvetica, sans-serif;
  font-weight: 800;
  letter-spacing: -0.764px;
  font-size: 18px;
  line-height: 22px;
}

.cb-title.cb-font-loaded {
  font-family: 'Noto Sans', Helvetica, sans-serif;
  letter-spacing: unset;
}

.cb-container.cb-small .cb-title {
  letter-spacing: 0.098px;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
}

.cb-container.cb-small .cb-title.cb-font-loaded {
  letter-spacing: unset;
}

.cb-subtitle {
  font-family: Helvetica, sans-serif;
  letter-spacing: 0.21px;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  color: #586179;
}

.cb-subtitle.cb-font-loaded {
  font-family: 'Noto Sans Display', Helvetica, sans-serif;
  letter-spacing: unset;
}

.cb-container.cb-small .cb-subtitle {
  letter-spacing: 0.098px;
  font-size: 15px;
  line-height: 18px;
}

.cb-container.cb-small .cb-subtitle.cb-font-loaded {
  letter-spacing: unset;
}

.cb-toolbox {
  padding: 0px 8px;
  outline: 0;
}
.cb-toolbox.cb-small {
  padding: 0px 4px;
}

.cb-tool {
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #dee3e9;
  transition: border 150ms;
  border-radius: 4px;
  cursor: pointer;
}
.cb-tool svg {
  fill: #156df9;
}
.cb-tool:hover,
.cb-tool:focus {
  border: 1px solid #156df9;
  outline: none;
}

.cb-container.cb-small .cb-tool,
.cb-toolbox.cb-small .cb-tool {
  width: 38px;
  height: 38px;
  margin-bottom: 4px;
}
.cb-toolbox .cb-tool {
  margin-bottom: 8px;
}
.cb-tool.cb-disabled {
  cursor: default;
}
.cb-tool.cb-disabled:hover,
.cb-tool.cb-disabled:focus {
  border: 1px solid #dee3e9;
}
.cb-tool.cb-disabled svg {
  fill: #dee3e9;
}

.cb-floating {
  font-family: 'Noto Sans', Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid #dee3e9;
  border-radius: 4px;
  color: #586179;
  background-color: #ffffffe6;
  z-index: 701;
}

.cb-tooltip {
  padding: 5px 8px;
  max-width: 300px;
}
.cb-tooltip p,
.cb-tooltip ul {
  margin: 0px;
}

.cb-footer {
  font-family: Helvetica, sans-serif;
  letter-spacing: 0.44px;
  font-size: 14px;
  line-height: 18px;
  color: #586179;
}

.cb-footer.cb-font-loaded {
  font-family: 'Noto Sans', Helvetica, sans-serif;
  letter-spacing: unset;
}

.cb-container.cb-small .cb-footer {
  letter-spacing: 0.34px;
  font-size: 13px;
  line-height: 16px;
}

.cb-container.cb-small .cb-footer.cb-font-loaded {
  letter-spacing: unset;
}

.cb-footer p {
  padding-top: 5px;
}
.cb-footer p:first-of-type {
  padding-top: 10px;
}

.cb-controls {
  padding: 10px 16px 16px 16px;
}
.cb-controls.cb-small {
  padding: 10px;
}
.cb-controls-separator {
  height: 1px;
  background-color: #dee3e9;
  margin: 0px 24px;
}
.cb-controls-separator.cb-small {
  margin: 0px 18px;
}

.cb-control {
  font-family: 'Noto Sans', Helvetica, sans-serif;
  font-size: 14px;
  flex: 1;
  padding: 5px 8px;
  min-width: 250px;
  box-sizing: border-box;
}
.cb-control-standalone {
  font-family: 'Noto Sans', Helvetica, sans-serif;
  font-size: 14px;
  flex: 1;
  min-width: 250px;
}

.cb-control-label {
  color: #586179;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 4px;
  line-height: 1;
}

.cb-control .cb-star-container,
.cb-control-standalone .cb-star-container {
  max-height: 21px;
  max-height: 21px;
  cursor: pointer;
  padding: 0px 0px 0px 10px;
  padding: 0px 0px 0px 10px;
}
.cb-control .cb-star-container svg,
.cb-control-standalone .cb-star-container svg {
  fill: #586179;
}
.cb-control .cb-star-container:hover svg,
.cb-control-standalone .cb-star-container:hover svg {
  fill: #156df9;
}
.cb-control-select-magnifying-glass {
  width: 16px;
  max-height: 16px;
}
.cb-control-select-magnifying-glass:hover svg {
  fill: #586179b3 !important;
}

.cb-control-select-option-multi {
  padding: 4px 7px;
}
.cb-control-select-option-multi.disabled {
  color: #c2cbd6;
}

.cb-control-select-option-multi-standalone {
  padding: 8px 17px;
}

.cb-control-select-option-multi-check {
  width: 21px;
  height: 21px;
  padding: 1px 0px 0px 1px;
  border: 1px solid #c2cbd6;
  border-radius: 4px;
  box-sizing: border-box;
}
.cb-control-select-option-multi.disabled .cb-control-select-option-multi-check {
  border: 1px solid #dee3e9;
}
.cb-control-select-option-multi:hover .cb-control-select-option-multi-check,
.cb-control-select-option-multi-standalone:hover
  .cb-control-select-option-multi-check {
  transition: border-color 150ms;
  border-color: #156df9;
}
.cb-control-select-option-multi:hover.disabled
  .cb-control-select-option-multi-check {
  border-color: #dee3e9;
}

.cb-control.disabled .cb-control-select-magnifying-glass svg {
  fill: #c2cbd6 !important;
}

.cb-control .rc-slider-handle-dragging,
.cb-control-standalone .rc-slider-handle-dragging {
  box-shadow: 0px 0px 4px 2px #156df9 !important;
}

.cb-control .rc-slider-horizontal {
  padding: 5px 0px;
}

.cb-control-standalone .rc-slider-horizontal,
.cb-control.cb-control-right-side .rc-slider-horizontal {
  padding: 11px 0px 14px 0px;
}

.cb-control.cb-control-right-side {
  margin-bottom: 64px;
}

.cb-control .rc-slider-disabled {
  background-color: unset;
}

@keyframes cb-rotate {
  to {
    transform: rotate(360deg);
  }
}

.cb-spinner-animation {
  animation: cb-rotate 600ms infinite linear;
}

.cb-frequency-button {
  height: 35px;
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #586179;
  background-color: #ffffff;
  border: 1px solid #dee3e9;
  border-radius: 4px;
  transition: border 150ms;
  margin-right: 8px;
  cursor: pointer;
}
.cb-frequency-button:hover {
  border: 1px solid #156df9;
}
.cb-frequency-button-selected,
.cb-frequency-button-selected:hover {
  color: #ffffff;
  background-color: #156df9;
}
.cb-frequency-button:hover.disabled {
  border: 1px solid #dee3e9;
}

.cb-inline-labels .highcharts-legend,
.cb-inline-labels .highcharts-a11y-proxy-group-legend {
  pointer-events: none !important;
}
