@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;800&display=swap');

.cb-container {
  font-family: 'Noto Sans', sans-serif;
  color: #101d40;
}

.cb-container p,
.cb-container ul {
  margin: 0px;
}

.cb-title {
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
}

.cb-container.cb-small .cb-title {
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
}

.cb-subtitle {
  font-size: 17px;
  line-height: 22px;
  color: #586179;
}

.cb-container.cb-small .cb-subtitle {
  font-size: 15px;
  line-height: 18px;
}

.cb-action-btn {
  position: absolute;
  padding: 2px 10px;
  border-radius: 13px;
  top: 50px;
  z-index: 1;
  font-size: 14px;
  color: #fff;
  background-color: rgba(51, 51, 51, 0.4);
  cursor: pointer;
  user-select: none;
}
.cb-action-btn:hover {
  background-color: rgba(51, 51, 51, 0.7);
}

.cb-toolbar {
  cursor: pointer;
  color: #101d40;
  font-size: 18px;
}
.cb-container.cb-small .cb-toolbar {
  font-size: 16px;
}
.cb-toolbar-disabled {
  cursor: default;
  color: #ddd;
}
.cb-toolbar-menu-item {
  padding: 3px 12px;
  cursor: pointer;
}
.cb-toolbar-menu-item-active {
  background-color: #f5f5f5;
}

.cb-floating {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid #c2cbd6;
  color: #586179;
  background-color: #ffffffe6;
  z-index: 12;
}

.cb-tooltip {
  padding: 5px 8px;
  max-width: 300px;
}
.cb-tooltip p,
.cb-tooltip ul {
  margin: 0px;
}

.cb-footer {
  font-size: 14px;
  line-height: 18px;
  color: #586179;
}

.cb-container.cb-small .cb-footer {
  font-size: 13px;
  line-height: 16px;
}

.cb-footer div:not(:empty) {
  padding: 5px 10px;
}

.cb-footer p {
  margin-top: 0px;
  margin-bottom: 5px;
}
.cb-footer p:last-of-type {
  margin-bottom: 0px;
}

.cb-controls {
  border-top: 1px solid #cbcbcb;
}

.cb-control {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  flex: 1;
  padding: 5px 10px;
  min-width: 200px;
}
.cb-control-standalone {
  font-family: 'Segoe UI';
  font-size: 14px;
  flex: 1;
  min-width: 200px;
}

.cb-control-label {
  color: #586179;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 4px;
  line-height: 1;
}

.cb-control .cb-star-container,
.cb-control-standalone .cb-star-container {
  max-height: 21px;
  cursor: pointer;
  padding: 0px 0px 0px 10px;
}
.cb-control .cb-star-container:hover svg,
.cb-control-standalone .cb-star-container:hover svg {
  fill: #156df9;
}

.cb-control-select-magnifying-glass {
  width: 16px;
  max-height: 16px;
}
.cb-control-select-magnifying-glass:hover svg {
  fill: #586179b3 !important;
}

.cb-control-select-option-multi {
  padding: 4px 7px;
}

.cb-control-select-option-multi-standalone {
  padding: 8px 17px;
}

.cb-control-select-option-multi-check {
  width: 21px;
  height: 21px;
  padding: 1px 0px 0px 1px;
  border: 1px solid #c2cbd6;
  border-radius: 4px;
  box-sizing: border-box;
}
.cb-control-select-option-multi:hover .cb-control-select-option-multi-check,
.cb-control-select-option-multi-standalone:hover
  .cb-control-select-option-multi-check {
  transition: border-color 150ms;
  border-color: #156df9;
}

.cb-control .rc-slider-handle-dragging,
.cb-control-standalone .rc-slider-handle-dragging {
  box-shadow: 0px 0px 4px 2px #156df9 !important;
}

.cb-control .rc-slider-horizontal,
.cb-control-standalone .rc-slider-horizontal {
  padding: 5px 0px;
}

.cb-control-standalone .rc-slider-horizontal {
  padding: 16px 0px;
}

@keyframes cb-rotate {
  to {
    transform: rotate(360deg);
  }
}

.cb-spinner-animation {
  animation: cb-rotate 600ms infinite linear;
}

.cb-frequency-button {
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #586179;
  background-color: #ffffff;
  border: 1px solid #dee5ed;
  border-right: 0px;
  transition: border 150ms;
  cursor: pointer;
}
.cb-frequency-button:hover {
  background-color: #e8edf2;
}
.cb-frequency-button:first-of-type {
  border-radius: 4px 0px 0px 4px;
}
.cb-frequency-button:last-of-type {
  border-radius: 0px 4px 4px 0px;
  border-right: 1px solid #dee5ed;
}
.cb-frequency-button-selected,
.cb-frequency-button-selected:hover {
  background-color: #e0f2ff;
}
