.cb-container {
  font-family: 'Segoe UI';
  color: #333333;
}

.cb-container p,
.cb-container ul {
  margin: 0px;
}

.cb-title {
  color: #333333;
  font-size: 14px;
  font-weight: bold;
}

.cb-subtitle {
  color: #737373;
  font-size: 12px;
  font-weight: bold;
}

.cb-toolbar {
  cursor: pointer;
  color: #737373;
}
.cb-toolbar-disabled {
  cursor: default;
  color: #ddd;
}
.cb-toolbar-menu-item {
  padding: 3px 12px;
  cursor: pointer;
}
.cb-toolbar-menu-item-active {
  background-color: #f5f5f5;
}
.cb-toolbar-menu-item-icon {
  margin-right: 5px;
  font-size: 14px;
  color: #737373;
}

.cb-floating {
  font-family: 'Segoe UI';
  font-size: 13px;
  border: 1px solid #e6e6e6;
  color: #0c0c0c;
  background-color: #ffffffe6;
  z-index: 12;
}

.cb-tooltip {
  padding: 5px 8px;
  max-width: 300px;
}
.cb-tooltip p,
.cb-tooltip ul {
  margin: 0px;
}

.cb-footer div:not(:empty) {
  padding: 5px 10px;
  font-family: sans-serif;
  font-size: 13px;
  line-height: normal;
}
.cb-footer p {
  margin-top: 0px;
  margin-bottom: 5px;
}
.cb-footer p:last-of-type {
  margin-bottom: 0px;
}

.cb-controls {
  border-top: 1px solid #cbcbcb;
  background-color: #f6f6f6;
}

.cb-control {
  font-family: 'Segoe UI';
  font-size: 14px;
  line-height: 1;
}

.cb-control-label {
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
}

@keyframes cb-rotate {
  to {
    transform: rotate(360deg);
  }
}

.cb-spinner-animation {
  animation: cb-rotate 600ms infinite linear;
}

.rc-slider-handle-dragging {
  box-shadow: 0px 0px 6px 2px #959595 !important;
}
